APP_NAME=VortexHost
APP_URL=http://localhost:8000
APP_ENV=local
APP_DEBUG=true

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=vortexhost
DB_USERNAME=root
DB_PASSWORD=

APP_SETUP_ROOT_EMAIL=root@vortexhost.local
APP_SETUP_ROOT_PASSWORD=ChangeMe123!

APP_KEY=change-this-secret-key

MP_ACCESS_TOKEN=
MP_BASE_URL=https://api.mercadopago.com

PTERODACTYL_PANEL_URL=
PTERODACTYL_APP_API_KEY=
PTERODACTYL_DEFAULT_NODE_ID=1
PTERODACTYL_DEFAULT_LOCATION_ID=1
PTERODACTYL_DEFAULT_ALLOCATION_ID=1
PTERODACTYL_DEFAULT_EGG_ID=1
PTERODACTYL_DEFAULT_DOCKER_IMAGE=ghcr.io/pterodactyl/yolks:java_17
PTERODACTYL_DEFAULT_STARTUP=java -Xms128M -Xmx{{SERVER_MEMORY}}M -jar server.jar
PTERODACTYL_FALLBACK_PASSWORD=ChangeMe123!